<div style="background-color:white; padding: 25px;">
<h3>{{viewTitle}}</h3>
    <form action="/personaje" method="post" autocomplete="off">
        <input type="hidden" name="_id" value="{{personaje._id}}">
        <div class="form-group">
            <label>Nombre Completo</label>
            <input type="text" class="form-control" name="nombre" placeholder="nombre" value="{{personaje.nombre}}">
            <div class="text-danger">
                {{personaje.nombreError}}</div>
        </div>
        <div class="form-group">
            <label>Edad</label>
            <input type="number" min="0" step="1" class="form-control" name="edad" value="{{personaje.edad}}">
        </div>
        <div class="form-group">
            <label>Profesion</label>
            <select class="form-control" name="profesion">
                <option selected>{{personaje.profesion}}</option>
                <option>ingeniero</option>
                <option>medico</option>
                <option>abogado</option>
            </select>
        </div>
        <div class="form-group">
            <label>Historia</label>
            <textarea class="form-control" name="historia" rows="4">{{personaje.historia}}</textarea>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Ingresar</button>
            <a class="btn btn-secondary" href="/personaje/list"><i class="fa fa-list-alt"></i> Ver todos</a>
        </div>
    </form>
</div>